<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="CUSTOM_LEVEL">${sys:LOG_LEVEL_OVERRIDE:-INFO}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${CUSTOM_LEVEL}">
            <AppenderRef ref="Console" level="${CUSTOM_LEVEL}"/>
        </Root>
    </Loggers>
</Configuration>
