<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="useDbAppender">false</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%X{correlationId}] [%X{sessionId}] %-5level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- NOTE! Use AsyncRoot tag instead of Root tag in production -->
        <Root level="DEBUG">
            <AppenderRef ref="Console" level="INFO"/>
            <!-- Db appender will be initialized in org.vstu.compprehension.config.logs.LogConfig at runtime -->
        </Root>
    </Loggers>
</Configuration>
