@import url(https://fonts.googleapis.com/css2?family=Coda&family=Crimson+Text&family=Gothic+A1&family=M+PLUS+1p&family=M+PLUS+Rounded+1c&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans&family=Open+Sans&display=swap);
body {
  font-size: 16px;
  font-family: 'M PLUS 1p', sans-serif;
  overflow-y: scroll;
}

body ul {
  margin: 0; 
}

.comp-ph-container {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.comp-ph-container .alert:last-child {
  margin-bottom: 0;
}

.comp-ph-question p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comp-ph-question-wrapper.comp-ph-question-wrapper--finished [id^="question_"][id*="_answer_"], 
.comp-ph-question-wrapper.comp-ph-question-wrapper--loading-feedback [id^="question_"][id*="_answer_"],
.comp-ph-question-wrapper.comp-ph-question-wrapper--freezed [id^="question_"][id*="_answer_"] {
  pointer-events: none;
}

.comp-ph-question-wrapper.comp-ph-question-wrapper--finished .comp-ph-singlechoice-label, 
.comp-ph-question-wrapper.comp-ph-question-wrapper--loading-feedback .comp-ph-singlechoice-label,
.comp-ph-question-wrapper.comp-ph-question-wrapper--freezed .comp-ph-singlechoice-label {
  pointer-events: none;
}

[id^="question_"][id*="_answer_"].comp-ph-question-answer--last-selected-by-system {
  /*
  transition: all 1s linear;
  */
  border: 2px solid green;
}

.comp-ph-feedback-wrapper .modal-dialog {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  width: 100%;
  max-width: 100%;
}

.comp-ph-feedback-wrapper .modal-dialog .alert {
  margin-bottom: 0;
}

.comp-ph-expr {
  font-size: 20px;
  display: flex;
  align-items: center;
  display: inline-block;
  background-color: white;
  padding: 10px 5px;
  border-radius: 4px;
}

.comp-ph-expr .comp-ph-expr-const, .comp-ph-expr .comp-ph-expr-op-btn {
  display: inline-block;
  position: relative;
  line-height: 17px;
  color: black;
  margin: 0 2px;
}

.comp-ph-expr .comp-ph-expr-op-btn {
  
  font-size: 20px;
  min-width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
  
  
  border-radius: 4px;
  background-color: #e7e7e7; 
  
  border: 2px solid #b5b5b5;  
}

.comp-ph-expr .comp-ph-expr-op-btn:hover, .comp-ph-expr .comp-ph-expr-op-btn.disabled {
  background-color: #b5b5b5;
}

.comp-ph-expr .comp-ph-expr-op-btn.disabled {
  cursor: default;
  pointer-events: none;
}

.comp-ph-expr .comp-ph-expr-bottom-hint {
  position: absolute;
  bottom: -17px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 9px;
}

.comp-ph-expr .comp-ph-expr-top-hint {
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 9px;
}

.comp-ph-feedback-wrapper {
  margin-top: 20px;
}

.comp-ph-draggable {
  position: relative;
  cursor: pointer;
}
.comp-ph-draggable:hover {
  border-color: #007bff;
}
/*.comp-ph-draggable.draggable-source--is-dragging {
  border-color: #007bff;
  color: #FFF;
  background-color: #007bff;
}*/


.comp-ph-dropzone {
  position: relative;
}

.comp-ph-dropzone .comp-ph-dropzone-placeholder {
  border: solid 3px;
  color: #d2d2d2;
  border-radius: 5px;
  /*font-size: 12px;*/
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.comp-ph-dropzone.draggable-dropzone--occupied { 
  background: lightgreen; 
}



.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  margin: 0;
  width: 35px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);

}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #007bff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  transform: translateX(0) rotate(0deg);
  transition:         all 1s ease;
}

table.comp-ph-trace {
  font-family: courier;
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34,36,38,.15);  
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0,0,0,.87);
  border-collapse: separate;
  border-spacing: 0;
}

table.comp-ph-trace td {
  background: rgba(0,0,0,.03);
  font-weight: 700;
  color: rgba(0,0,0,.95);    
  font-size: 12px;
  padding: .4em .6em;
}

table.comp-ph-trace tr td {
  border-top: 1px solid rgba(34,36,38,.1);
}

table.comp-ph-trace tr:first-child td {
  border-top: none;
}

