<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  <link href="/css/vendor.c9ba8fea6fae298063de.css" rel="stylesheet"><link href="/css/client.955d4a87d87bafc56a3f.css" rel="stylesheet"></head>
  <body>
    <div id="root"></div>    
  <script defer src="/js/vendor.94037b3d3cb6a500b894.js"></script><script defer src="/js/client.1613ad26064847007669.js"></script></body>
  <script th:inline="javascript">
    var CompPh = CompPh || {};
    CompPh.exerciseLaunchError = CompPh.exerciseLaunchError || /*[[${exerciseLaunchError}]]*/;
  </script>
</html>
