<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  <link href="/css/vendor.c9ba8fea6fae298063de.css" rel="stylesheet"><link href="/css/client.ae050e41ae5702da78f3.css" rel="stylesheet"></head>
  <body>
    <div id="root"></div>    
  <script defer src="/js/vendor.94037b3d3cb6a500b894.js"></script><script defer src="/js/client.51d30d6d4eaad32b8f2c.js"></script></body>
  <script th:inline="javascript">
    var CompPh = CompPh || {};
    CompPh.exerciseLaunchError = CompPh.exerciseLaunchError || /*[[${exerciseLaunchError}]]*/;
  </script>
</html>
