<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  <link href="/css/vendor.c9ba8fea6fae298063de.css" rel="stylesheet"><link href="/css/client.9b0dc7b63b0f16f4dbf2.css" rel="stylesheet"></head>
  <body>
    <div id="root"></div>    
  <script defer src="/js/vendor.3a5c7fc50143e9d98c40.js"></script><script defer src="/js/client.f4bd52b04007b789f90d.js"></script></body>
  <script th:inline="javascript">
    var CompPh = CompPh || {};
    CompPh.exerciseLaunchError = CompPh.exerciseLaunchError || /*[[${exerciseLaunchError}]]*/;
  </script>
</html>
